.nav {
  padding: 35px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: transparent linear-gradient(119deg, rgba(235, 208, 255, 0.24) 0%, rgba(241, 222, 255, 0.15) 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.nav-logo {
  margin-top: -10px;
  z-index: 109;
}
.nav-logo img {
  max-height: 78px;
}
.nav-toggle {
  display: none;
}
.nav-menu {
  display: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav-menu-link,
.nav-menu .dropdown-link,
.nav-menu .nav-button {
  color: var(--unnamed-color-2f281e);
  text-align: center;
  font: normal normal normal 16px/21px Poppins;
  letter-spacing: 0px;
  padding-left: 25px;
  color: rgb(47, 40, 30);
  cursor: pointer;
}
.nav-menu-link:hover,
.nav-menu .dropdown-link:hover,
.nav-menu .nav-button:hover {
  color: rgb(75, 182, 101);
}
.nav-menu-link-login,
.nav-menu .dropdown-link-login,
.nav-menu .nav-button-login {
  padding-left: 75px;
  color: rgb(75, 182, 101);
}
.nav-menu-link-login:hover,
.nav-menu .dropdown-link-login:hover,
.nav-menu .nav-button-login:hover {
  font-weight: bold;
  border-radius: 20px;
  color: gray;
}
.nav-button1 {
  color: rgb(255, 255, 255) !important;
  margin-left: 35px;
  background: rgb(75, 182, 101) 0% 0% no-repeat padding-box;
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
}
.nav-button1:hover {
  color: rgb(75, 182, 101) !important;
  background-color: white;
}
.nav-button2 {
  color: rgb(75, 182, 101) !important;
  outline: none;
  background-color: #fff;
  margin-left: 16px;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid rgb(75, 182, 101);
}
.nav .toggle-btn {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: transparent;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 12px 16px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 970px) {
  .nav {
    padding: 20px;
  }
  .nav-logo {
    margin-top: 0px;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu {
    margin-top: 0px;
    display: flex;
    max-width: 400px;
  }
  .nav-menu-link-login,
  .nav-menu .dropdown-link-login,
  .nav-menu .nav-button-login {
    display: inline-block;
    padding-left: 30px;
    margin-top: 20%;
    color: rgb(75, 182, 101);
  }
  .nav-button1 {
    margin-top: 10%;
  }
  .nav-button2 {
    margin-top: 13%;
  }
}
@media (max-width: 598px) {
  .nav {
    padding: 10px 10px;
  }
  .nav-logo img {
    height: 50px;
  }
  .nav .toggle-btn {
    display: block !important;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
    margin-right: 3%;
    cursor: pointer;
    z-index: 101;
  }
  .nav-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    gap: 5px;
    flex-direction: column-reverse;
    top: -1000px;
    right: 0;
    left: 0;
    transition: all 1s ease-in-out;
    background-color: #fff;
    z-index: 100;
  }
  .nav-menu-link,
  .nav-menu .dropdown-link,
  .nav-menu .nav-button {
    padding-left: 0px;
  }
  .nav-menu-link-login,
  .nav-menu .dropdown-link-login,
  .nav-menu .nav-button-login {
    display: inline-block;
    padding-left: 0px;
    margin-top: 20%;
    color: rgb(75, 182, 101);
  }
  .nav-button1 {
    margin-left: 0px;
    padding: 10px 10px 10px 100px;
  }
  .nav-button2 {
    margin-left: 0px;
    padding-left: 5px 5px;
  }
}
.open {
  top: 0;
}/*# sourceMappingURL=Navbar.css.map */