.experience {
  position: relative;
  padding: 0 20px;
  padding-bottom: 280px;
}
.experience .expiranceContainer .inner-container {
  max-width: 540px;
  max-height: 350px;
  background: #fbf5ff 0% 0% no-repeat padding-box;
  border-radius: 80px 0px;
}
.experience .expiranceContainer .inner-container .nested-container {
  padding: 40px 0 60px 70px;
}
.experience .expiranceContainer .inner-container .nested-container .main-heading {
  position: relative;
  max-width: 250px;
  font: normal normal bold 48px/60px Quicksand;
  color: #2f281e;
  margin-bottom: 40px;
}
.experience .expiranceContainer .inner-container .nested-container .main-heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 140px;
  max-width: 256px;
  width: 100%;
  border-bottom: 6px solid #4bb665;
  border-radius: 2px;
}
.experience .expiranceContainer .inner-container .nested-container .description {
  max-width: 296px;
  font: normal normal normal 18px/30px Nunito Sans;
  color: #2f281e;
  opacity: 0.6;
}
.experience .expiranceContainer .inner-container .nested-container .dots-image {
  position: absolute;
  margin-top: 243px;
  margin-left: -65px;
}
.experience .expiranceContainer .list {
  position: absolute;
  top: 50px;
  left: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
.experience .expiranceContainer .list .list-item {
  width: 270px;
  height: 270px;
  cursor: pointer;
}
.experience .expiranceContainer .list .list-item:nth-child(1) {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 120px rgba(175, 193, 209, 0.1019607843);
  border-radius: 0px 40px;
}
.experience .expiranceContainer .list .list-item:hover {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 120px rgba(175, 193, 209, 0.1019607843);
  border-radius: 0px 40px;
}
.experience .expiranceContainer .list .list-item .item-container {
  padding: 38px 0 68px 29px;
}
.experience .expiranceContainer .list .list-item .item-container .item-image {
  width: 57px;
  height: 57px;
  margin-bottom: 28px;
}
.experience .expiranceContainer .list .list-item .item-container .item-heading {
  font: normal normal 600 24px/32px Nunito Sans;
  color: #2f281e;
}
.experience .expiranceContainer .list .list-item .item-container .item-description {
  max-width: 198px;
  font: normal normal normal 16px/22px Nunito Sans;
  color: #2f281e;
  opacity: 0.6;
}

@media (max-width: 967px) {
  .experience {
    padding-bottom: 600px;
  }
  .experience .expiranceContainer .inner-container {
    max-width: 100%;
    max-height: 350px;
  }
  .experience .expiranceContainer .inner-container .nested-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .experience .expiranceContainer .inner-container .nested-container .main-heading {
    max-width: 100%;
  }
  .experience .expiranceContainer .inner-container .nested-container .main-heading::before {
    content: "";
  }
  .experience .expiranceContainer .inner-container .nested-container .description {
    max-width: 50%;
    font: normal normal normal 24px/40px Nunito Sans;
  }
  .experience .expiranceContainer .inner-container .nested-container .dots-image {
    position: absolute;
    margin-top: 240px;
    z-index: -1;
    max-width: 200px;
  }
  .experience .expiranceContainer .list {
    top: 360px;
    left: 10px;
    justify-content: center;
    gap: 15px;
    padding: 0;
  }
  .experience .expiranceContainer .list .list-item {
    width: 230px;
    height: 230px;
  }
  .experience .expiranceContainer .list .list-item:nth-child(1) {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 120px rgba(175, 193, 209, 0.1019607843);
    border-radius: 0px 40px;
  }
  .experience .expiranceContainer .list .list-item:hover {
    background: #fbf5ff 0% 0% no-repeat padding-box;
  }
  .experience .expiranceContainer .list .list-item .item-container {
    padding: 38px 0 68px 29px;
  }
  .experience .expiranceContainer .list .list-item .item-container .item-image {
    width: 57px;
    height: 57px;
    margin-bottom: 28px;
  }
  .experience .expiranceContainer .list .list-item .item-container .item-heading {
    font: normal normal 600 24px/32px Nunito Sans;
    color: #2f281e;
  }
  .experience .expiranceContainer .list .list-item .item-container .item-description {
    max-width: 198px;
    font: normal normal normal 16px/22px Nunito Sans;
    color: #2f281e;
    opacity: 0.6;
  }
}
@media (max-width: 735px) {
  .list-item:nth-child(5), .list-item:nth-child(6) {
    display: none;
  }
}
@media (max-width: 570px) {
  .experience {
    padding-bottom: 530px;
  }
  .experience .expiranceContainer .inner-container {
    max-width: 100%;
    max-height: 350px;
  }
  .experience .expiranceContainer .inner-container .nested-container {
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .experience .expiranceContainer .inner-container .nested-container .main-heading {
    font-size: 30px;
    line-height: 33px;
  }
  .experience .expiranceContainer .inner-container .nested-container .main-heading::before {
    content: "";
    top: 130%;
    max-width: 70%;
    padding: 0 20px;
  }
  .experience .expiranceContainer .inner-container .nested-container .description {
    max-width: 100%;
    font: normal normal normal 16px/20px Nunito Sans;
  }
  .experience .expiranceContainer .inner-container .nested-container .dots-image {
    display: none;
  }
  .experience .expiranceContainer .list {
    top: 260px;
    left: 10px;
    justify-content: center;
    gap: 15px;
    padding: 0;
  }
  .experience .expiranceContainer .list .list-item {
    width: 230px;
    height: 230px;
  }
  .experience .expiranceContainer .list .list-item:nth-child(2), .experience .expiranceContainer .list .list-item:nth-child(3), .experience .expiranceContainer .list .list-item:nth-child(5) {
    display: none;
  }
}/*# sourceMappingURL=expirance.css.map */